/* General styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr 100px;
    grid-template-columns: 1fr 1fr 300px;
    grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
    height: 100vh;
  }
  
  header {
    grid-area: header;
    background-color: #333;
    color: white;
  }

  header h2 {
    padding: 1rem;
  }
  
  nav {
    background-color: #000;
    padding: 1rem;
    margin-top: 1rem;
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: auto;
    margin: 0 auto;
}
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    grid-area: main;
    background-color: #d3d3d3;
    padding: 20px;
  }
  
  aside {
    grid-area: aside;
    background-color: white;
    padding: 20px;
  }
  
  footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  